<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/article.css">
    <script src="https://kit.fontawesome.com/47a4398e3c.js" crossorigin="anonymous"></script>
    <title>Оформление заказа</title>
</head>
<body>
    <header> <!-- HEADER -->
        <div class="topnav">
            <a class="logo" href="./index.html"><img height="40" src="./images/logo.svg"></a>
            <div class="right">
            <a href="./index.html"> ГЛАВНАЯ</a>
            <a href="./order.html"> ЗАКАЗ</a>
            <a href="./profile.html">ПРОФИЛЬ</a>
            <a href="./register.html">РЕГИСТРАЦИЯ</a>
            </div>
        </div>  
    </header>
<div class="orderbox">

    <div class="regh1" id="regu">Оформление заказа</div>
    <div class="regh1" id="regus"> Опишите, что нужно сделать</div>
    <br>

<div  class="lelelelepe">

    <div class="regh2s">Разместите свою задачу на бирже. Ваш проект станет видимым для IT-Парков, и некоторые из них сделают вам предложения. Изучите их рейтинг, портфолио и выберите лучших из них.</div>
    <br>
    <p>Название задачи<br>
    <input placeholder="Введите название" class="piz" type="text" size="40">
    <p>Детальное описание задачи<br>
    <input placeholder="Опишите, что именно вам нужно" class="piz" type="text" size="40" style="height:200px;">

    <div class="filepin">
        <a href="">
    <p><img src="./images/pin.svg"> Прикрепить файлы <br>        
    </div>
</a>
    <p>Цена не более<br>
    <input placeholder="Введите цену" class="piz" type="text" size="40">
<br><br>
    <a href="#">
        <div class="buttonss">
            Разместить
        </div>
    </a>
</div>

</div>
</div>
</body>
</html>