{% extends 'base.html' %}

{% block body %}

<div class="prof-card">
    <img src="./images/ava.png" alt="KIT">
    <div class="profinfo">
        <div class="profname">
            USER NAME
        </div>
        <div class="profstat">
            <p>
                Описание.
            </p>
        </div>
    </div>
    <div class="profsett">
        <a href="#">
            <div class="buttonss">
                Настройка профиля
            </div>
        </a>
    </div>
    <div class="land-header">
        Мои заказы:
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <center>
        <div class="profstat">
            <p>
                Заказов ещё нет...
            </p>
    </center>

</div>
{% endblock %}