<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/article.css">
    <script src="https://kit.fontawesome.com/47a4398e3c.js" crossorigin="anonymous"></script>
    <title>Регистрация</title>
</head>
<body>
    <header> <!-- HEADER -->
        <div class="topnav">
            <a class="logo" href="./index.html"><img height="40" src="./images/logo.svg"></a>
            <div class="right">
            <a href="./index.html"> ГЛАВНАЯ</a>
            <a href="./order.html"> ЗАКАЗ</a>
            <a href="./profile.html">ПРОФИЛЬ</a>
            <a href="./register.html">РЕГИСТРАЦИЯ</a>
            </div>
        </div>  
    </header>

    <div class="register-box">

        <div class="right-box">
            <div class="regh1">Регистрация учетной записи</div>
            <br>
            <div class="regh2">Для целей регулирования отрасли требуются ваши данные.</div>
            <br>
            <p>Ваше имя:<br>
            <input placeholder="Введите ваше имя" class="piz" type="text" size="40">

            <p>Email адрес:<br>
                <input placeholder="Введите email адрес" class="piz" type="text" size="40">

            <p>Создать пароль:<br>
                <input placeholder="Введите пароль" type="password" class="piz" type="text" size="40">

        <br>
        <div class="cheche">
            <input class="dic" type="checkbox" checked>Я согласен с условиями и положениями
        </div>
        <br>
            <a href="#">
                <div class="buttonss">
                    Регистрация
                </div>
            </a>
        </div>
    

        <div class="left-box">
        </div>
    </div>

</body>
</html>